In [32]:
import glob
import pandas as pd
import numpy as np
filenames=list(glob.glob("Dataset/ATP/20*.xls*"))
l = [pd.read_excel(filename) for filename in filenames]

c:\Users\mathi\anaconda3\envs\Keras\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
c:\Users\mathi\anaconda3\envs\Keras\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
c:\Users\mathi\anaconda3\envs\Keras\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
c:\Users\mathi\anaconda3\envs\Keras\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [33]:
no_b365=[i for i,d in enumerate(l) if "B365W" not in l[i].columns]
no_pi=[i for i,d in enumerate(l) if "PSW" not in l[i].columns]
for i in no_pi:
    l[i]["PSW"]=np.nan
    l[i]["PSL"]=np.nan
for i in no_b365:
    l[i]["B365W"]=np.nan
    l[i]["B365L"]=np.nan
l=[d[list(d.columns)[:13]+["Wsets","Lsets","Comment"]+["PSW","PSL","B365W","B365L"]] for d in [l[0]]+l[2:]]
data=pd.concat(l,0)
data.columns

C:\Users\mathi\AppData\Local\Temp\ipykernel_22688\3631434256.py:10: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  data=pd.concat(l,0)

Index(['ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court', 'Surface',
       'Round', 'Best of', 'Winner', 'Loser', 'WRank', 'LRank', 'Wsets',
       'Lsets', 'Comment', 'PSW', 'PSL', 'B365W', 'B365L'],
      dtype='object')

In [34]:
### Data cleaning
data=data.sort_values("Date")
data["WRank"]=data["WRank"].replace(np.nan,0)
data["WRank"]=data["WRank"].replace("NR",2000)
data["LRank"]=data["LRank"].replace(np.nan,0)
data["LRank"]=data["LRank"].replace("NR",2000)
data["WRank"]=data["WRank"].astype(int)
data["LRank"]=data["LRank"].astype(int)
data["Wsets"]=data["Wsets"].astype(float)
data["Lsets"]=data["Lsets"].replace("`1",1)
data["Lsets"]=data["Lsets"].astype(float)
data=data.reset_index(drop=True)
data

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser,WRank,LRank,Wsets,Lsets,Comment,PSW,PSL,B365W,B365L
0,1,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,3.0,Clement A.,Gaudenzi A.,18,101,2.0,1.0,Completed,NaN,NaN,NaN,NaN
1,3,Doha,Qatar Open,2001-01-01,International,Outdoor,Hard,1st Round,3.0,Kafelnikov Y.,Clavet F.,5,49,2.0,0.0,Completed,NaN,NaN,NaN,NaN
2,3,Doha,Qatar Open,2001-01-01,International,Outdoor,Hard,1st Round,3.0,Jonsson F.,Sanguinetti D.,203,65,2.0,0.0,Completed,NaN,NaN,NaN,NaN
3,3,Doha,Qatar Open,2001-01-01,International,Outdoor,Hard,1st Round,3.0,Escude N.,El Aynaoui Y.,48,25,2.0,0.0,Completed,NaN,NaN,NaN,NaN
4,3,Doha,Qatar Open,2001-01-01,International,Outdoor,Hard,1st Round,3.0,di Pasquale A.,Zabaleta M.,60,61,2.0,0.0,Completed,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58177,64,Turin,Masters Cup,2023-11-17,Masters Cup,Indoor,Hard,Round Robin,3.0,Alcaraz C.,Medvedev D.,2,3,2.0,0.0,Completed,1.78,2.16,1.67,2.2
58178,64,Turin,Masters Cup,2023-11-17,Masters Cup,Indoor,Hard,Round Robin,3.0,Zverev A.,Rublev A.,8,5,2.0,0.0,Completed,1.74,2.23,1.62,2.3
58179,64,Turin,Masters Cup,2023-11-18,Masters Cup,Indoor,Hard,Semifinals,3.0,Djokovic N.,Alcaraz C.,1,2,2.0,0.0,Completed,1.67,2.36,1.62,2.3
58180,64,Turin,Masters Cup,2023-11-18,Masters Cup,Indoor,Hard,Semifinals,3.0,Sinner J.,Medvedev D.,4,3,2.0,1.0,Completed,1.69,2.31,1.67,2.2
58181,64,Turin,Masters Cup,2023-11-19,Masters Cup,Indoor,Hard,The Final,3.0,Djokovic N.,Sinner J.,1,4,2.0,0.0,Completed,1.62,2.45,1.53,2.5

In [35]:
# Series

# Define a mapping of tournament types to their respective integer values
tournament_mapping = {
    "ATP250": 250,
    "Grand Slam": 2000, 
    "Masters 1000": 1000,
    "ATP500": 500,
    "Masters Cup": 1500
}
# Create a new column with the integer values based on the mapping
data['tournament_value'] = data['Series'].map(tournament_mapping)
data['tournament_value'].value_counts()

250.0     16460
2000.0    11049
1000.0     8120
500.0      5852
1500.0      330
Name: tournament_value, dtype: int64

In [36]:
# # Round

# round_mapping = {
#     "1st Round": 32,
#     "2nd Round": 16,
#     "Quarterfinals": 4,
#     "3rd Round": 8,
#     "Semifinals": 3,
#     "4th Round": 6,  # You may adjust this value
#     "The Final": 1,
#     "Round Robin": 2  # You may adjust this value
# }

# # Create a new column with the integer values based on the mapping
# data['Round_Int'] = data['Round'].map(round_mapping)


# data["Round_Int"].value_counts()

In [37]:
serie_round_drop = ["Series"]
data = data.drop(serie_round_drop,axis=1)

data["Series"] = data["tournament_value"]

data = data.drop(["tournament_value"],axis=1)

In [38]:
data["Best of"] = pd.to_numeric(data['Best of'], errors='coerce')

In [39]:
print(data.columns)
data.head()

Index(['ATP', 'Location', 'Tournament', 'Date', 'Court', 'Surface', 'Round',
       'Best of', 'Winner', 'Loser', 'WRank', 'LRank', 'Wsets', 'Lsets',
       'Comment', 'PSW', 'PSL', 'B365W', 'B365L', 'Series'],
      dtype='object')

,ATP,Location,Tournament,Date,Court,Surface,Round,Best of,Winner,Loser,WRank,LRank,Wsets,Lsets,Comment,PSW,PSL,B365W,B365L,Series
0,1,Adelaide,AAPT Championships,2001-01-01,Outdoor,Hard,1st Round,3.0,Clement A.,Gaudenzi A.,18,101,2.0,1.0,Completed,NaN,NaN,NaN,NaN,NaN
1,3,Doha,Qatar Open,2001-01-01,Outdoor,Hard,1st Round,3.0,Kafelnikov Y.,Clavet F.,5,49,2.0,0.0,Completed,NaN,NaN,NaN,NaN,NaN
2,3,Doha,Qatar Open,2001-01-01,Outdoor,Hard,1st Round,3.0,Jonsson F.,Sanguinetti D.,203,65,2.0,0.0,Completed,NaN,NaN,NaN,NaN,NaN
3,3,Doha,Qatar Open,2001-01-01,Outdoor,Hard,1st Round,3.0,Escude N.,El Aynaoui Y.,48,25,2.0,0.0,Completed,NaN,NaN,NaN,NaN,NaN
4,3,Doha,Qatar Open,2001-01-01,Outdoor,Hard,1st Round,3.0,di Pasquale A.,Zabaleta M.,60,61,2.0,0.0,Completed,NaN,NaN,NaN,NaN,NaN

In [40]:
import random

from matplotlib import pyplot as plt

def lenght_verification(total,wanted, limite = 0.42):
    result = wanted
    pourcentage = (wanted/total)
    if pourcentage < limite:
        # print(f"erreur : {pourcentage}")
        result = limite*total
    elif pourcentage > 1-limite:
        # print(f"erreur : {pourcentage}")
        result = (1-limite)*total
    # else:
    #     print("GOOD")
    return int(result)

length_values = []
# Generate a random length following a Gaussian distribution
mean = len(data) / 2
std_deviation = 1000  # peux etre changé, plus il est grand plus la difference entre nbr 1 et nbr 0 est grandes

length = int(np.random.normal(mean, std_deviation))

length = lenght_verification(total=len(data),wanted=length)


y = [0] * length + [1] * (len(data) - length)
random.shuffle(y)

data['y'] = pd.Series(y, index=data.index)
data["y"].value_counts()

0    29112
1    29070
Name: y, dtype: int64

In [41]:
# Divisez le DataFrame en deux en fonction de la colonne "y"
grouped = data.groupby('y')

# Accédez aux deux groupes
group_1_lose= grouped.get_group(0)
group_1_win = grouped.get_group(1)

lose_1 = group_1_lose.copy()
win_1 = group_1_win.copy()

lose_1.rename(columns={'Loser':'Player1_name',  
                       'LRank':'Player1_rank', 
                       'PSL':'Player1_PS',
                       'B365L':'Player1_B365',
                       
                       'Winner':'Player2_name',  
                       'WRank':'Player2_rank',
                       'PSW':'Player2_PS',
                       'B365W':'Player2_B365',},inplace=True)

win_1.rename(columns={'Loser':'Player2_name',  
                      'LRank':'Player2_rank',
                      'PSL':'Player2_PS',
                      'B365L':'Player2_B365',

                      'Winner':'Player1_name',  
                      'WRank':'Player1_rank', 
                      'PSW':'Player1_PS',
                      'B365W':'Player1_B365',},inplace=True)

all_matches_final= pd.concat([win_1,lose_1])
all_matches_final[["y","Player2_name","Player1_name"]]

all_matches_final = all_matches_final.reindex(range(len(all_matches_final)))
all_matches_final.head()

,ATP,Location,Tournament,Date,Court,Surface,Round,Best of,Player1_name,Player2_name,...,Player2_rank,Wsets,Lsets,Comment,Player1_PS,Player2_PS,Player1_B365,Player2_B365,Series,y
0,1,Adelaide,AAPT Championships,2001-01-01,Outdoor,Hard,1st Round,3.0,Gaudenzi A.,Clement A.,...,18,2.0,1.0,Completed,NaN,NaN,NaN,NaN,NaN,0
1,3,Doha,Qatar Open,2001-01-01,Outdoor,Hard,1st Round,3.0,Clavet F.,Kafelnikov Y.,...,5,2.0,0.0,Completed,NaN,NaN,NaN,NaN,NaN,0
2,3,Doha,Qatar Open,2001-01-01,Outdoor,Hard,1st Round,3.0,Sanguinetti D.,Jonsson F.,...,203,2.0,0.0,Completed,NaN,NaN,NaN,NaN,NaN,0
3,3,Doha,Qatar Open,2001-01-01,Outdoor,Hard,1st Round,3.0,Escude N.,El Aynaoui Y.,...,25,2.0,0.0,Completed,NaN,NaN,NaN,NaN,NaN,1
4,3,Doha,Qatar Open,2001-01-01,Outdoor,Hard,1st Round,3.0,Zabaleta M.,di Pasquale A.,...,60,2.0,0.0,Completed,NaN,NaN,NaN,NaN,NaN,0

In [42]:
corr_matrix = all_matches_final.corr()
corr_matrix['y'].sort_values(ascending=False)

C:\Users\mathi\AppData\Local\Temp\ipykernel_22688\1264563283.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = all_matches_final.corr()

y               1.000000
Player2_B365    0.311845
Player2_PS      0.267592
Player2_rank    0.159043
Lsets           0.005121
ATP             0.002905
Best of        -0.001128
Wsets          -0.003011
Series         -0.003229
Player1_rank   -0.163465
Player1_PS     -0.269588
Player1_B365   -0.305435
Name: y, dtype: float64

In [43]:

drop_columns = ["Player1_PS","Player2_PS",
                'Tournament',"Best of",
                "ATP", "Location", "Date",
                'Wsets', 'Lsets',
                "Player1_B365","Player2_B365"]

all_matches_final = all_matches_final.drop(drop_columns, axis=1)
all_matches_final.head()

,Court,Surface,Round,Player1_name,Player2_name,Player1_rank,Player2_rank,Comment,Series,y
0,Outdoor,Hard,1st Round,Gaudenzi A.,Clement A.,101,18,Completed,NaN,0
1,Outdoor,Hard,1st Round,Clavet F.,Kafelnikov Y.,49,5,Completed,NaN,0
2,Outdoor,Hard,1st Round,Sanguinetti D.,Jonsson F.,65,203,Completed,NaN,0
3,Outdoor,Hard,1st Round,Escude N.,El Aynaoui Y.,48,25,Completed,NaN,1
4,Outdoor,Hard,1st Round,Zabaleta M.,di Pasquale A.,61,60,Completed,NaN,0

In [44]:
# all_matches_final = all_matches_final.iloc[:-6]


all_matches_final.to_csv('all_matches_ATP.csv', encoding='utf-8', index=False)
test = all_matches_final.reset_index()
test.head()

,index,Court,Surface,Round,Player1_name,Player2_name,Player1_rank,Player2_rank,Comment,Series,y
0,0,Outdoor,Hard,1st Round,Gaudenzi A.,Clement A.,101,18,Completed,NaN,0
1,1,Outdoor,Hard,1st Round,Clavet F.,Kafelnikov Y.,49,5,Completed,NaN,0
2,2,Outdoor,Hard,1st Round,Sanguinetti D.,Jonsson F.,65,203,Completed,NaN,0
3,3,Outdoor,Hard,1st Round,Escude N.,El Aynaoui Y.,48,25,Completed,NaN,1
4,4,Outdoor,Hard,1st Round,Zabaleta M.,di Pasquale A.,61,60,Completed,NaN,0

# Multiclasse

In [45]:
# On crée un nouveau datast
data.head(3)
data_multiclass = data.copy()

In [46]:
# On crée une nouvelle varaible après avoir shuffle l'ancien dataset
def calculate_multiclass(row):
    win_sets = row['Wsets']
    lose_sets = row['Lsets']
    result = np.nan
    if win_sets == 2 and lose_sets == 0:
        result = '2 sets écart'
    elif win_sets == 2 and lose_sets == 1:
        result = '1 set écart'
    
    return result

data_multiclass['y_multicat'] = data_multiclass.apply(calculate_multiclass, axis=1)

data_multiclass = data_multiclass.dropna(subset=["y_multicat"])

In [47]:
data_multiclass['y_multicat'].value_counts()

2 sets écart    29504
1 set écart     16108
Name: y_multicat, dtype: int64

In [48]:
grouped = data_multiclass.groupby('y')

# Accédez aux deux groupes
group_1_lose= grouped.get_group(0)
group_1_win = grouped.get_group(1)

lose_1 = group_1_lose.copy()
win_1 = group_1_win.copy()

lose_1["y_multicat"] = "Lose "+lose_1["y_multicat"]
win_1["y_multicat"] = "Win "+win_1["y_multicat"]

In [49]:
lose_1["y_multicat"].value_counts()

Lose 2 sets écart    14784
Lose 1 set écart      7998
Name: y_multicat, dtype: int64

In [50]:
win_1["y_multicat"].value_counts()

Win 2 sets écart    14720
Win 1 set écart      8110
Name: y_multicat, dtype: int64

In [51]:
# On fusionne les deux dataset
final_dataset = pd.concat([lose_1, win_1], ignore_index=True)
final_dataset.head(3)

,ATP,Location,Tournament,Date,Court,Surface,Round,Best of,Winner,Loser,...,Wsets,Lsets,Comment,PSW,PSL,B365W,B365L,Series,y,y_multicat
0,1,Adelaide,AAPT Championships,2001-01-01,Outdoor,Hard,1st Round,3.0,Clement A.,Gaudenzi A.,...,2.0,1.0,Completed,NaN,NaN,NaN,NaN,NaN,0,Lose 1 set écart
1,3,Doha,Qatar Open,2001-01-01,Outdoor,Hard,1st Round,3.0,Kafelnikov Y.,Clavet F.,...,2.0,0.0,Completed,NaN,NaN,NaN,NaN,NaN,0,Lose 2 sets écart
2,3,Doha,Qatar Open,2001-01-01,Outdoor,Hard,1st Round,3.0,Jonsson F.,Sanguinetti D.,...,2.0,0.0,Completed,NaN,NaN,NaN,NaN,NaN,0,Lose 2 sets écart

In [52]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

final_dataset["y_multicat"] = label_encoder.fit_transform(final_dataset["y_multicat"])
final_dataset.head(2)

,ATP,Location,Tournament,Date,Court,Surface,Round,Best of,Winner,Loser,...,Wsets,Lsets,Comment,PSW,PSL,B365W,B365L,Series,y,y_multicat
0,1,Adelaide,AAPT Championships,2001-01-01,Outdoor,Hard,1st Round,3.0,Clement A.,Gaudenzi A.,...,2.0,1.0,Completed,NaN,NaN,NaN,NaN,NaN,0,0
1,3,Doha,Qatar Open,2001-01-01,Outdoor,Hard,1st Round,3.0,Kafelnikov Y.,Clavet F.,...,2.0,0.0,Completed,NaN,NaN,NaN,NaN,NaN,0,1

In [53]:
# On enlève la variable y
all_matches_final_multi = final_dataset.drop('y', axis=1)

In [54]:
all_matches_final_multi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45612 entries, 0 to 45611
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         45612 non-null  int64
 1   Location    45612 non-null  object
 2   Tournament  45612 non-null  object
 3   Date        45612 non-null  datetime64[ns]
 4   Court       45612 non-null  object
 5   Surface     45612 non-null  object
 6   Round       45612 non-null  object
 7   Best of     45597 non-null  float64
 8   Winner      45612 non-null  object
 9   Loser       45612 non-null  object
 10  WRank       45612 non-null  int32
 11  LRank       45612 non-null  int32
 12  Wsets       45612 non-null  float64
 13  Lsets       45612 non-null  float64
 14  Comment     45612 non-null  object
 15  PSW         38252 non-null  float64
 16  PSL         38252 non-null  float64
 17  B365W       42234 non-null  float64
 18  B365L       42241 non-null  float64
 19  Series      29838 non-null  float64
 20  y_multicat  45612 non-null  int32
dtypes: datetime64[ns](1), float64(8), int32(3), int64(1), object(8)
memory usage: 6.8+ MB

In [55]:
# On cherche les NaN dans les colonnes
nombre_nan = all_matches_final_multi['B365L'].isna().sum()
nombre_nan

3371

In [56]:
# On enlève les NaN
all_matches_final_multi.dropna(subset=['B365W'], inplace=True)
all_matches_final_multi.dropna(subset=['B365L'], inplace=True)
all_matches_final_multi.dropna(subset=['PSW'], inplace=True)
all_matches_final_multi.dropna(subset=['PSL'], inplace=True)

In [57]:
# Calcul de la médiane de la colonne
median_value = all_matches_final_multi['Best of'].median()

# Remplacement des NaN par la médiane
all_matches_final_multi['Best of'].fillna(median_value, inplace=True)

In [58]:
all_matches_final_multi['PSL'].value_counts()

2.20     227
1.68     205
1.56     199
1.69     185
1.61     179
        ...
18.91      1
26.59      1
18.10      1
8.06       1
10.42      1
Name: PSL, Length: 1632, dtype: int64

In [59]:
nombre_nan = all_matches_final_multi['PSL'].isna().sum()
nombre_nan

0

In [60]:
corr_matrix = all_matches_final_multi.corr()
corr_matrix['y_multicat'].sort_values(ascending=False)

C:\Users\mathi\AppData\Local\Temp\ipykernel_22688\3363951720.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = all_matches_final_multi.corr()

y_multicat    1.000000
B365L         0.055958
PSL           0.048603
LRank         0.021922
Best of       0.001889
ATP          -0.002456
Series       -0.003386
WRank        -0.025513
PSW          -0.048714
B365W        -0.052204
Lsets        -0.427707
Wsets              NaN
Name: y_multicat, dtype: float64

In [61]:
# On enlève les colonnes qui ne nous interesse pas
drop_columns = ['Winner','Loser','Date','Tournament','Location','Wsets','Lsets']

all_matches_final_multi = all_matches_final_multi.drop(drop_columns, axis=1)
all_matches_final_multi.head(2)

,ATP,Court,Surface,Round,Best of,WRank,LRank,Comment,PSW,PSL,B365W,B365L,Series,y_multicat
2317,3,Outdoor,Hard,1st Round,3.0,246,58,Completed,2.21,1.719,2.200,1.615,NaN,1
2318,3,Outdoor,Hard,1st Round,3.0,43,6,Completed,3.25,1.385,2.875,1.364,NaN,1

In [62]:
all_matches_final_multi.to_csv('all_matches_ATP_multi.csv', encoding='utf-8', index=False)